body{
    margin:auto;
    width: 60%;
}

header{
    display: flex;
    justify-content: center;
}

Header ul li{
    list-style: none;
}

section form ul li{
    list-style: none;
    
}

section form ul li label{
    font-size: 23px;

}

section{
    margin-top: 1%;
    display: flex;
    justify-content: center;
    font-size: medium

}

section button{
    margin: 8px;
    font-size: 23px;
}

table, th, td{
    border: 5px solid black;
    border-collapse: collapse;
    border-radius: 8px;
    font-size: medium;

}

.container{
    
        display: flex;
        flex-direction: column;
        background-color: yellow;
        width: 400px;
        height: 600px;
        align-items: center;
        justify-content: space-evenly;
        border-radius: 20px;
        box-shadow: 0 0 10px black;
        margin-top: 50px;
        margin-left: 200px;
        
    }
